body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top : 60px;
    position:relative;
    min-height : 100vh;
  }
.h2, h2 {
    font-size: 1.5rem;
}
a {
    color: #000;
    text-decoration: underline;
}
a:hover {
    color: #49c5b6;
}
p {
    font-size : 1em;
}
p code {
    word-break: normal !important;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
}
small {
    display: block;
    color: #888;
}

main.container{
    max-width: 1080px;
}
footer {
    width: 100%;
    left: 0;
    max-width: none !important;
    background-color: #1a1a1d;
}
footer.container span {
    color: #fff;
}
footer.container {
    margin-top: 30px;
    padding: 10px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid #627986;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 767px) {
    .sidebar {
        padding-top: 30px;
    }
}

@media (min-width: 980px) {

}

body > main.container {
    padding: 40px 15px 0; /* 80px to make the container go all the way to the bottom of the topbar */
}
.card-header {
    background: #3b4249;
    color: #fff;
}

.card {
    margin-top: 20px;
}
.h4, h4, .h3, h3 {
    font-size: 1.3rem;
    color: #145374;
    margin: 20px 0;
    border-bottom: 1px solid #666;
    padding-bottom: 15px;
}
.transparant-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    color: #000;
    transition: 0.3s;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    margin-top: 20px;
}

article {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    color: #000;
    transition : 0.3s;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}
article img,p img {
    max-width: 90%;
    width:auto;
    border-radius: 3px;
    margin: auto;
    display: block;
}
article:hover {
    background:  rgba(255, 255, 255, 1);
}
article h2 {
    color: #145374;
    margin-bottom: 20px;
    text-align: center;
    background: none;
    padding: 0 0 20px 0;
    transition: 0.3s;
    border-bottom: 1px solid #145374;
}
article h2:hover {
    color: #000;
}
article h2 a, h1 {
    color: #49c5b6;
    text-decoration: none;
}
.bg-header {
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #627986;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-expand-md .navbar-nav {
    width : 100%;
    justify-content: flex-end;
}
a.nav-link {
    text-decoration: none;
}

.cat-tags {
    color: #145374;
    padding: 10px;
    text-align: center;
}
.hljs {
    padding: 10px 20px !important;
    background: #e9ece5 !important;
    font-size: 1em !important;
    border-radius: 5px;
    box-sizing : border-box;
    box-shadow : 0 15px 25px rgba(0,0,0,0.5);
}

.logo-img {
    height: 35px;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color : #49c5b6;
}

.about-img {
    border-radius: 50%;
    height: 400px;
    width: auto;
}

.home-article-body {
    max-height: 200px;
    overflow: hidden;
}

.home-article{
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 20px;
}
.home-article:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

